body{
    font-family: Arial;
    text-align:center;
    background:#ff9fca;
}


h1{
    margin:30px;
}


.filters button{

    padding:10px 20px;
    margin:10px;
    cursor:pointer;
    border:none;
    background:#333;
    color:white;
    border-radius:20px;

}


.gallery{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:30px;

}


.gallery img{

    width:100%;
    border-radius:15px;
    transition:0.4s;
    cursor:pointer;

}


.gallery img:hover{

    transform:scale(1.05);
}


/* Lightbox */

#lightbox{

    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    justify-content:center;
    align-items:center;
    flex-direction:column;

}


#lightbox img{

    width:70%;
    max-width:600px;

}


#lightbox span{

    color:white;
    font-size:40px;
    cursor:pointer;

}


#lightbox button{

    margin:20px;
    padding:10px 20px;
    background:#ff69b4;
    color:white;
    border:none;
    border-radius:20px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;

}


#lightbox button:hover{

    background:#ff1493;
    transform:scale(1.05);

}

@media(max-width:600px){

.gallery{

grid-template-columns:1fr;

}

}